<div class="album-list" layout="column">
  
  <h1 class="album-title">Welcome to Hard Times <span class="year">(2015)</span></h1>
  <div layout-gt-lg="row" layout-margin>
    <div flex="30" class="album-covers">
      <a href="http://thedemigs.bandcamp.com/album/welcome-to-hard-times" target="blank">
        <img src="assets/img/welcometohardtimes.png" class="img-responsive" /><br/>
        Buy now: Vinyl, CD, & Digital Download
      </a>
    </div>
    <div flex="35" class="track-list">
      <span class="track-number">1.</span> <a href="#" ng-click="Player.play('0')">Welcome to Hard Times (Vacant Houses)</a> <span class="track-length">04:48</span> <br/>
      <span class="track-number">2.</span> <a href="#" ng-click="Player.play('1')">Crossed Out Names</a> <span class="track-length">03:47</span> <br/>
      <span class="track-number">3.</span> <a href="#" ng-click="Player.play('2')">Melamine</a> <span class="track-length">04:52</span> <br/>
      <span class="track-number">4.</span> <a href="#" ng-click="Player.play('3')">Pluto</a> <span class="track-length">03:22</span> <br/>
      <span class="track-number">5.</span> <a href="#" ng-click="Player.play('4')">Paisley Desert</a> <span class="track-length">05:41</span> <br/>
      <span class="track-number">6.</span> <a href="#" ng-click="Player.play('5')">Long Runs the Fox</a> <span class="track-length">04:55</span> <br/>
      <span class="track-number">7.</span> <a href="#" ng-click="Player.play('6')">Everything is a Weapon</a> <span class="track-length">03:30</span> <br/>
      <span class="track-number">8.</span> <a href="#" ng-click="Player.play('7')">Matamoros</a> <span class="track-length">02:41</span> <br/>
      <span class="track-number">9.</span> <a href="#" ng-click="Player.play('8')">Pushers & Pullers</a> <span class="track-length">03:58</span> <br/>
      <span class="track-number-double">10.</span> <a href="#" ng-click="Player.play('9')">Henry & Maggie</a> <span class="track-length">07:55</span> <br/>
    </div>
    <div flex="35" class="track-list">
      <span class="track-number">1.</span> <a href="#" ng-click="Player.play('10')">Mr. Timer</a> <span class="track-length">02:38</span><br/>
      <span class="track-number">2.</span> <a href="#" ng-click="Player.play('11')">Any Other Pattern</a> <span class="track-length">02:57</span><br/>
      <span class="track-number">3.</span> <a href="#" ng-click="Player.play('12')">Distress Signals</a> <span class="track-length">03:37</span><br/>
      <span class="track-number">4.</span> <a href="#" ng-click="Player.play('13')">Dead by Monday</a> <span class="track-length">05:01</span><br/>
      <span class="track-number">5.</span> <a href="#" ng-click="Player.play('14')">One Light Year from Now</a> <span class="track-length">04:01</span><br/>
      <span class="track-number">6.</span> <a href="#" ng-click="Player.play('15')">Arches</a> <span class="track-length">04:48</span><br/>
      <span class="track-number">7.</span> <a href="#" ng-click="Player.play('16')">Athena Goes to War</a> <span class="track-length">04:23</span><br/>
      <span class="track-number">8.</span> <a href="#" ng-click="Player.play('17')">Yeller</a> <span class="track-length">04:03</span><br/>
      <span class="track-number">9.</span> <a href="#" ng-click="Player.play('18')">Welcome to Hard Times II (Black Cat/White Ghost)</a> <span class="track-length">08:00</span><br/>
      <span class="track-number-double">10.</span> <a href="#" ng-click="Player.play('19')">Monochrome Blues</a> <span class="track-length">05:14</span><br/>
    </div>
  </div>
  
  <h1 class="album-title">Cities Can Wait <span class="year">(2011)</span></h1>
  <div layout-gt-lg="row" layout-margin>
    <div flex="30" class="album-covers">
      <a href="http://thedemigs.bandcamp.com/album/cities-can-wait" target="blank">
        <img src="assets/img/citiescanwait.png" class="img-responsive" /><br/>
        Buy now: Vinyl & Digital Download
      </a>
    </div>
    <div flex class="track-list">
      <span class="track-number">1.</span> <a href="#" ng-click="Player.play('20')">Red Palomino</a> <span class="track-length">04:10</span><br/>
      <span class="track-number">2.</span> <a href="#" ng-click="Player.play('21')">High Co.</a> <span class="track-length">05:06</span><br/>
      <span class="track-number">3.</span> <a href="#" ng-click="Player.play('22')">Sophisticates & Sedatives</a> <span class="track-length">03:27</span><br/>
      <span class="track-number">4.</span> <a href="#" ng-click="Player.play('23')">Canada</a> <span class="track-length">03:14</span><br/>
      <span class="track-number">5.</span> <a href="#" ng-click="Player.play('24')">Calmunism</a> <span class="track-length">02:56</span><br/>
      <span class="track-number">6.</span> <a href="#" ng-click="Player.play('25')">Gusto</a> <span class="track-length">01:35</span><br/>
      <span class="track-number">7.</span> <a href="#" ng-click="Player.play('26')">Black Valley Fight</a> <span class="track-length">02:53</span><br/>
      <span class="track-number">8.</span> <a href="#" ng-click="Player.play('27')">Lowly</a> <span class="track-length">04:27</span><br/>
      <span class="track-number">9.</span> <a href="#" ng-click="Player.play('28')">Minx</a> <span class="track-length">05:03</span><br/>
      <span class="track-number-double">10.</span> <a href="#" ng-click="Player.play('29')">Both Hands Out</a> <span class="track-length">04:34</span><br/>
      <span class="track-number-double">11.</span> <a href="#" ng-click="Player.play('30')">Get To 16</a> <span class="track-length">03:38</span><br/>
      <span class="track-number-double">12.</span> <a href="#" ng-click="Player.play('31')">Pistols</a> <span class="track-length">03:54</span><br/>
      <span class="track-number-double">13.</span> <a href="#" ng-click="Player.play('32')">Chambers Full of Tracers</a> <span class="track-length">02:18</span><br/>
      <span class="track-number-double">14.</span> <a href="#" ng-click="Player.play('33')">Slum, Alaska</a> <span class="track-length">04:57</span><br/>
    </div>
  </div>
  
  <h1 class="album-title">Yardling <span class="year">(2007)</span></h1>
  <div layout-gt-lg="row" layout-margin>
    <div flex="30" class="album-covers">
      <a href="http://thedemigs.bandcamp.com/album/yardling" target="blank">
        <img src="assets/img/yardling.png" class="img-responsive" /><br/>
        Buy now: Vinyl, CD, & Digital Download
      </a>
    </div>
    <div flex class="track-list">
      <span class="track-number">1.</span> <a href="#" ng-click="Player.play('34')">Solvents</a> <span class="track-length">03:28</span><br/>
      <span class="track-number">2.</span> <a href="#" ng-click="Player.play('35')">Summer Spiders</a> <span class="track-length">02:54</span><br/>
      <span class="track-number">3.</span> <a href="#" ng-click="Player.play('36')">Humming from Outside</a> <span class="track-length">03:35</span><br/>
      <span class="track-number">4.</span> <a href="#" ng-click="Player.play('37')">The 98th Meridian</a> <span class="track-length">04:06</span><br/>
      <span class="track-number">5.</span> <a href="#" ng-click="Player.play('38')">Dulce</a> <span class="track-length">03:50</span><br/>
      <span class="track-number">6.</span> <a href="#" ng-click="Player.play('39')">Throw Me Overboard</a> <span class="track-length">01:46</span><br/>
      <span class="track-number">7.</span> <a href="#" ng-click="Player.play('40')">Cashing In</a> <span class="track-length">02:00</span><br/>
      <span class="track-number">8.</span> <a href="#" ng-click="Player.play('41')">Northwest Skyline</a> <span class="track-length">04:29</span><br/>
      <span class="track-number">9.</span> <a href="#" ng-click="Player.play('42')">My Empty Vessel</a> <span class="track-length">03:13</span><br/>
      <span class="track-number-double">10.</span> <a href="#" ng-click="Player.play('43')">Japanese Glass</a> <span class="track-length">03:46</span><br/>
      <span class="track-number-double">11.</span> <a href="#" ng-click="Player.play('44')">A Curse On The World</a> <span class="track-length">04:35</span><br/>
      <span class="track-number-double">12.</span> <a href="#" ng-click="Player.play('45')">Vandals</a> <span class="track-length">04:18</span><br/>
      <span class="track-number-double">13.</span> <a href="#" ng-click="Player.play('46')">Methuselah Moonlight</a> <span class="track-length">04:56</span><br/>
    </div>
  </div>
</div>