<section>
  <h2>Next Show 07/09 at Dan's Silverleaf</h2>
  <span class="date">06/23/2015</span>
  <p>
    <a href="https://www.facebook.com/events/1465596113732085/" target="_blank">
      <img src="assets/img/dans20150709.jpg" class="img-responsive" />
    </a>
  </p>
</section>
<section>
  <h2>New Video for "Yeller"</h2>
  <span class="date">05/26/2015</span>
  <div class="video">
    <iframe src="https://www.youtube.com/embed/VG81hiOvwgE" width="100" frameborder="0" allowfullscreen></iframe>
  </div>
</section>
<section>
  <h2>National Release of New Double LP</h2>
  <span class="date">04/14/2015</span>
  <p>
    <i>Welcome To Hard Times</i> available today on Vinyl, CD, and digital download through 
    <a href="https://thedemigs.bandcamp.com/album/welcome-to-hard-times" target="_blank">bandcamp</a>!
  </p>
  <p>
    <a href="https://thedemigs.bandcamp.com/album/welcome-to-hard-times" target="_blank">
      <img src="assets/img/wtht-big.png" class="img-responsive" />
    </a>
  </p>
</section>