<section>
  <h2>The Demigs on Single Car Sessions: Episode 3</h2>
  <span class="date">05/01/2016</span>
  <p>
    <div class="video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/TT0XXT_-7so" frameborder="0" allowfullscreen></iframe>
    </div>
  </p>
</section>
<section>
  <h2>The Demigs @ 35 Denton</h2>
  <span class="date">02/28/2016</span>
  <p>
    <div class="video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/lvLCqZx4SPs" frameborder="0" allowfullscreen></iframe>
    </div>
    <br/>
    <a href="http://prekindle.com/35denton" target="_blank">
      Get your wristbands here.
    </a>
  </p>
</section>
<section>
  <h2>Opening for Lord Huron @ HOB Dallas 10/06/15</h2>
  <span class="date">09/22/2015</span>
  <p>
    <a href="http://www.houseofblues.com/dallas/events/eventdetail/?viewNav=/event-detail&eventId=0C004EE3C69E49D3&oid=0" target="_blank">
      <img src="assets/img/hob-local-brews.jpg" class="img-responsive" />
    </a>
  </p>
</section>
<section>
  <h2>New Video: Recording "Monochrome Blues"</h2>
  <span class="date">08/05/2015</span>
  <div class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/TugAwsL0Uzg" frameborder="0" allowfullscreen></iframe>
  </div>
</section>
<section>
  <h2>The Demigs @ House of Blues Dallas 08/08/15</h2>
  <span class="date">07/27/2015</span>
  <p>
    <a href="http://www.houseofblues.com/dallas/localbrewslocalgrooves" target="_blank">
      <img src="assets/img/hob080815.png" class="img-responsive" />
    </a>
  </p>
</section>
<section>
  <h2>New Video: Recording "Long Runs The Fox"</h2>
  <span class="date">07/02/2015</span>
  <div class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/MZBrumiUKhI" frameborder="0" allowfullscreen></iframe>
  </div>
</section>
<section>
  <h2>Dan’s Silverleaf 07/09/15</h2>
  <span class="date">06/23/2015</span>
  <p>
    <a href="https://www.facebook.com/events/1465596113732085/" target="_blank">
      <img src="assets/img/dans20150709.jpg" class="img-responsive" />
    </a>
  </p>
</section>
<section>
  <h2>New Video for "Yeller"</h2>
  <span class="date">05/26/2015</span>
  <div class="video">
    <iframe src="https://www.youtube.com/embed/VG81hiOvwgE" width="100" frameborder="0" allowfullscreen></iframe>
  </div>
</section>
<section>
  <h2>National Release of New Double LP</h2>
  <span class="date">04/14/2015</span>
  <p>
    <i>Welcome To Hard Times</i> available today on Vinyl, CD, and digital download through
    <a href="https://thedemigs.bandcamp.com/album/welcome-to-hard-times" target="_blank">bandcamp</a>!
  </p>
  <p>
    <a href="https://thedemigs.bandcamp.com/album/welcome-to-hard-times" target="_blank">
      <img src="assets/img/wtht-big.png" class="img-responsive" />
    </a>
  </p>
</section>
