<img src="assets/img/story-band.png" class="content-img" />
The Demigs are somewhat both an anomaly in and spiritual heirs to their home state's mixed musical traditions. While listeners can hear elements of classic American indie rock like Pavement and The Apples In Stereo and the noisy, art-tinged pop of celebrated New Zealand "Kiwi rock" bands like The 3-Ds and The Clean, there's also some of Texas' warped psychedelia like Roky Erickson and The Golden Dawn along with the slightest hint of the region's legendary blues-rock. There's inasmuch a healthy cynicism and cleverness to the lyrics as there is an unaffected innocence to the quartet's forthcoming third album <i>Welcome To Hard Times</i>.
<br/><br/>
The 20-song double LP is an expansive collection of hooky tunes allowing the band to stretch out just enough to explore lush soundscapes alongside their taut songcraft without ever collapsing into excess. The Demigs run their own recording studio, Shady Lane, at which guitarist Alex Hastings engineered the band's latest album. The cover art for <i>Welcome To Hard Times</i> was created by writer​/guita​rist/v​ocalist Chris Demiglio and was also curated for an art exhibit. It's this DIY approach that gives the band its own unique aesthetic and ability to hone the album's meticulous sound.
<br/><br/>
Since forming in 2006, The Demigs have dedicated themselves to crafting song and sound. Called "a criminally overlooked jewel of pop artistry" and "without peer," The Demigs combine the intensity of their live shows with the magnetic attraction of their studio albums&mdash;<i>Yardling</i> (2007) and <i>Cities Can Wait</i> (2011).
<br/><br/>
<i>Welcome To Hard Times</i> is being released in conjunction with I Love Math Records and will be available on 2xLP, 2xCD and download on April 14th, 2015.
<br/><br/>
<br/>

<span class="quotes">
“The Demigs are one of the most solid bands in the metroplex area.”
<a href="http://www.ghostofblindlemon.com/2015/06/new-yeller/" target="_blank">
  Chris Mueller - Ghostofblindlemon.com
</a>
</span>

<span class="quotes">
“There’s a smorgasbord of emotional jangle, bold percussion and thoughtful balance between gentle and roaring passages. Demiglio’s vocals straddle that precarious perch between being unassuming and comforting. Lyrical content is poetic but not so enigmatic that you have no clue what the words are meant to convey.”
<a href="http://www.normantranscript.com/ntown/texas-based-band-the-demigs-return-for-another-rocking-show/article_55943fa7-11fa-5da5-aa9b-b9b3cf322505.html" target="_blank">
  Doug Hill - The Norman Transcript
</a>
</span>

<span class="quotes">
“Among the best local releases this year.”
<a href="http://frontrow.dmagazine.com/2015/04/concerts-to-see-in-dallas-this-week-april-1-7/" target="_blank">
  Alex Macon - D Magazine
</a>
</span>

<span class="quotes">
“Welcome to Hard Times shows the Demigs at their most original and cohesive.”
<a href="http://www.dentonrc.com/entertainment/denton-time-headlines/20150226-double-down.ece" target="_blank">
  Lucinda Breeding - Denton Record-Chronicle
</a>
</span>

<span class="quotes">
“Welcome To Hard Times is an album that is worth your full and undivided attention.”
<a href="http://www.earmilk.com/2015/04/14/the-demigs-deal-with-their-pain-in-welcome-to-hard-times-album-stream/" target="_blank">
  Winston E. Brewington, Jr. - earmilk.com
</a>
</span>

<span class="quotes">
  “Welcome to Hard Times is one hell of a fun listen.”
  <a href="http://bucketfullofnails.com/2015/03/review-the-demigs-welcome-to-hard-times/" target="_blank">
    magearwig - bucketfullofnails.com
  </a>
</span>

<span class="quotes">
  “The Demigs have a distinctive sound that’s matched by their political savvy.”
  <a href="http://www.popmatters.com/post/191118-the-demigs-melamine-audio-premiere/" target="_blank">
    Brice Ezell - Popmatters.com
  </a>
</span>

<span class="quotes">
  “A leviathan by local standards, this expansive, ferociously intelligent and lovingly rendered examination of modern life is a testament to singer-songwriter Chris Demiglio’s creative tenacity.”
  <a href="http://www.dfw.com/2015/02/25/972958/lone-star-sounds-new-music-from.html" target="_blank">
    Preston Jones - DFW.com
  </a>
</span>

<span class="quotes">
  “This is a mammoth undertaking...The Demigs manage to maintain the momentum from beginning to end and that’s hard to do on records with half the size of “Welcome to Hard Times.”
  <a href="https://pghintune.wordpress.com/2015/04/16/the-demigs-shine-on-ambitious-effort-welcome-to-hard-times/" target="_blank">
    Jeffrey Sisk - Pittsburgh in Tune
  </a>
</span>
Inquiries: contact at thedemigs dot com